<%- contentFor('body') %>
<!-- MAIN PRODUCT LIST -->
<main class="admin container">
    <article class="admin__search">
        <img class="admin__search--icon" src="./public/multimedia/icons/search_icon.svg" alt="search icon">
        <input class="admin__search--input" type="search" placeholder="código, nombre o categoria">
    </article>
    <article class="admin__top">
        <h2 class="admin__title">LISTADO DE PRODUCTOS</h2>
        <div class="admin__add">                
            <p class="admin__add--text">AGREGAR</p>
            <iconify-icon class="admin__add--icon" icon="ph:plus-fill"></iconify-icon>
        </div>
    </article>
    <!-- TABLE -->
    <table class="admin__table">
        <thead>
            <tr class="table__header">
                <th class="table__header--id">ID</th>
                <th class="table__header--code">Código</th>
                <th class="table__header--name">Nombre del Producto</th>
                <th class="table__header--licence">Categoría</th>
                <th class="table__header--edit">Edit</th>
                <th class="table__header--delete">Delete</th>
            </tr>
        </thead>
        <tbody>
            <% productos.forEach(producto => { %>
            <tr class="table__item">
                <td class="table__id"><%= producto.id %></td>
                <td class="table__code"><%= producto.code %></td>
                <td class="table__name"><%= producto.name %></td>
                <td class="table__licence"><%= producto.licence %></td>
                <td class="table__edit"><img src="./public/multimedia/icons/edit_pencil.svg" alt="Edit icon"></td>
                <td class="table__delete"><img src="./public/multimedia/icons/delete_trash.svg" alt="Trash icon"></td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</main>
