<%- contentFor('body') %>
    <!-- MAIN CREATE ITEM -->
    <% if (typeof errors != 'undefined') { %>
        <ul>
            <% errors.forEach(error => { %>
            <li><%= error.msg %></li>
            <% }) %>
        </ul>
    <% } %>


<section>
    <form action="/admin/productos" method="post" enctype="multipart/form-data" class="create container">
        <h2 class="form__title">CREAR NUEVO ITEM</h2>
        <article class="create__item">            
            <label for="categoria" class="create__item--text">Categoría:</label>
            <input class="create__item--input" type="text" id="categoria" name="categoria" placeholder="Seleccionar">
            <label for="licencia" class="create__item--text">Licencia:</label>
            <input class="create__item--input" type="text" id="licencia" name="licencia" placeholder="Seleccionar">
        </article>
        <article class="create__item">            
            <label for="nombre" class="form__text">Nombre del producto:</label>
            <input class="form__input" type="text" id="nombre" name="nombre" required placeholder="Kakashi Hatake Shippuden Saga"
            value="<%= typeof values != 'undefined' ? values.nombre : '' %>"
            />
        </article>
        <textarea class="create__textarea" name="textarea" placeholder="Descripción del producto"></textarea>
        <article class="create__item">
            <label for="sku" class="form__text">SKU:</label>
            <input class="form__input" type="text" id="sku" name="sku" placeholder="SSK111AB001"
            value="<%= typeof values != 'undefined' ? values.sku : '' %>"
            />
            <label for="precio" class="form__text">Precio:</label>
            <input class="form__input" type="number" id="precio" name="precio" placeholder="$ 0.000,00"
            value="<%= typeof values != 'undefined' ? values.precio : '' %>"
            />
            <label for="stock" class="form__text">Stock:</label>
            <input class="form__input" type="number" id="stock" name="stock" placeholder="0"
            value="<%= typeof values != 'undefined' ? values.stock : '' %>"
            />
        </article>
        <article class="create__item">            
            <label class="form__text">Descuento:</label>
            <input class="form__input" type="number" placeholder="0%">
            <label class="form__text">Cuotas:</label>
            <input class="create__item--input" type="text" placeholder="3 Cuotas sin interés">
        </article>
        <article class="create__item">
            <label for="imagen" class="form__text">Imágenes:</label>
            <input type="file" id="imagen" name="imagen" accept="image/*" placeholder="Elegir archivos">
        </article>
        <article class="create__item">
            <button type="submit" class="form__button" href="#">Agregar Producto</button>
            <a class="form__button" href="#">Limpiar</a>
        </article>
    </form>
</section>